.board--wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem;
  height: 90%;
  max-height: 90%;
  max-width: 95%;
  overflow-x: scroll;
}

.board--wrapper .board--column {
  width: 20%;
  min-width: 20%;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 100%;
  overflow-y: scroll;
  padding: 4px;
}

.board--wrapper .board--column .board--column-title {
  background: #fff;
  display: inline-block;
  padding: 0.5rem;
}
