.board--wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem;
}

.board--wrapper .board--column {
  width: calc(1/3 * 100%);
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  background: #fafafa;
}

.board--wrapper .board--column .board--column-title {
  background: #fff;
  display: inline-block;
  padding: 0.5rem;
}
