.sidebar--wrapper {
  display: inline-block;
  width: 12.5%;
  height: 100vh;
  border-right: 1px solid black;
}

.sidebar--wrapper .sidebar--list {
  padding: 0 0 0 1rem;
}

.sidebar--wrapper .sidebar--list-item {
  list-style: none;
}
