.sidebar--wrapper {
  display: inline-block;
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100vh;
  border-right: 1px solid black;
}

.sidebar--wrapper .sidebar--list {
  padding: 0 0 0 1rem;
}

.sidebar--wrapper .sidebar--list-item {
  list-style: none;
}
