.create_project--form {
  border-left: 1px solid black;
  padding: 0.2rem 0.5rem 0.2rem 1rem;
}

.form_title--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form_title--wrapper .form--title {
  margin: 0;
}

.form_title--wrapper .form--close {
  font-size: 1.6rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.form_title--wrapper .form--close:hover {
  color: red;
}
