.layout--wrapper-sidebar {
  display: grid;
  grid-template-columns: 12.5% 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout--wrapper-sidebar .layout--content-sidebar {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
}

.layout--wrapper-sidebar .layout--sidebar {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100vh;
}
