.layout--wrapper-sidebar {
  display: grid;
  grid-template-columns: 12.5% 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout--wrapper-sidebar {
  .content--wrapper {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
  }
}
