.issue--modal {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 6px;
  width: 40%;
  max-width: 40%;
  height: 35rem;
  max-height: 35rem;
  overflow: hidden;
  background: #f9f9f9;
  display: grid;
  grid-template-columns: 41% 42% 12% 5%;
  grid-template-rows: 8% 1fr 6% 5%;
  grid-template-areas: "heading heading heading close"
    "description description description description"
    "tags tags add-tag add-tag"
    "created updated updated estimate";
  row-gap: 4px;
  box-shadow: 0 0.4rem 2rem 1rem rgba(0, 0, 0, 0.7);
  outline: 3px solid #000;
  border-radius: 4px;
}

.issue--modal .close-button {
  grid-area: close;
  background: transparent;
  font-size: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  justify-self: end;
  align-self: center;
}

.issue--modal .close-button:hover {
  color: red;
}

.issue--modal .heading {
  grid-area: heading;
  margin: 0;
  font-size: 1.2rem;
  align-self: center;
}

.issue--modal .description {
  grid-area: description;
  margin: 0;
  resize: none;
}

.issue--modal .tags {
  grid-area: tags;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.issue--modal .tags .tag {
  padding: 0.3rem;
  border: 1px solid #444;
  line-height: 1;
  height: fit-content;
  white-space: nowrap;
}

.issue--modal .tags+* {
  grid-area: add-tag;
  margin-left: 4px;
}

.issue--modal .created {
  grid-area: created;
  align-self: end;
}

.issue--modal .updated {
  grid-area: updated;
  justify-self: end;
  align-self: end;
  margin-right: 1rem;
}

.issue--modal .estimate {
  grid-area: estimate;
  background: lightgray;
  text-align: center;
  border-radius: 100% 100% 20%;
  border: 1px solid black;
  align-self: end;
  justify-self: end;
  width: 100%;
  padding: 0.3rem 0.5rem;
  appearance: textfield;
}

.issue--modal .estimate::-webkit-inner-spin-button,
.issue--modal .estimate::-webkit-outer-spin-button {
  display: none;
  margin: 0;
}
